.bg-main{
    background-color: rgb(141,26,142) !important;
    color: #fff !important;
}
.bg-main * {
    color: #fff !important;
}
.btn-main{
    background-color: rgb(141,26,142) !important;
    color: #fff !important;
}

.text-main{
    color: rgb(141,26,142) !important;
}

.border-main{
    border-color: 0.5px solid rgb(141,26,142) !important;
}

.img-boxes{
    height: 200px !important;
    overflow: hidden;
}

.short-text{
    height: 115px !important;
    overflow: hidden;
}
 


@media (max-width: 768px) {
  .img-boxes{
    height: 100px !important;
    overflow: hidden;
  }
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 4 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start, .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}